html{
	background-color: black;
}
*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	color: whitesmoke;
	
}
body{
	font-family: 'Ubuntu', sans-serif;
	background-image: linear-gradient(to bottom right,rgb(29, 1, 1), black);
}
.navbar{
	display:flex;
	align-items: center;
	padding:35px;
}
nav{
	flex:1;
	text-align:right;
}
nav ul{
	display: inline-block;
	list-style-type: none;
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}
a{

	text-decoration: none;
	color: whitesmoke;
}
p{
	color:whitesmoke;
}
.container{
	max-width: 1300px;
	margin:auto;
	padding-left: 25px;
	padding-right: 25px;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
	margin:70px;
}
.col-2{
	flex-basis: 50%;
	min-width: 300px;
}
.col-2 img{
	max-width: 110%;
	padding: 50px 0;
	filter: grayscale(100%);
	border-radius: 20%;
	
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
}
.btn{
	display: inline-block;
	background:rgb(158, 10, 10);
	color: whitesmoke;
	padding: 8px 30px;
	margin:30px 0;
	border-radius: 30px;
	transition: background 0.5s;

}
.btn:hover{
	background: rgb(255, 255, 255) ;
	color:black;
}

/*.header{
	background-image: linear-gradient(to bottom right,rgb(29, 1, 1), black);

}*/
.header .row{
		margin-top: 70px;
}
.categories{
	margin: 70px 0;
	background-image: linear-gradient(to bottom right,rgb(22, 22, 22), black);
}
.col-3{
	flex-basis: 30px;
	min-width: 280px;
	margin-top: 30px;
	margin-bottom: 30px;

}
.col-3 img{
	width: 100%;
}
.small-container{
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;

}
.col-4{
	flex-basis: 25%;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	color: whitesmoke;
}
.col-4 img{
	width: 100%;
}
.title{
	text-align: center;
	margin:0 auto 80px;
	position: relative;
	line-height: 60px;
	color:whitesmoke;
}
.title::after{
	content: '';
	background: rgb(158, 10, 10);
	width:80px;
	height:5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

}
h4{
	color: whitesmoke;
	font-weight: normal;

}
.col-4 p{
	 font-size: 14px;
}
